<div class="edit">
  <div class="edit-pane"></div>
  <div class="move-menu">
    <div class="add drag-area"><i class="icon-move"></i></div>
    <div class="add move-up"><i class="icon-caret-up"></i></div>
    <div class="add move-down"><i class="icon-caret-down"></i></div>
    <div class="variants add">options <i class="icon-caret-down"></i></div>
    <div class="add-content-button add">+</div>
  </div>
  <div class="menu">
    <div class="add" data-action="trash"><i class="icon-trash"></i></div>
  </div>

</div>