{# this template is rendered in the event that an area exists already.#}

<div class="apos-area" data-name="{{ area.name }}" data-slug="{{ slug }}">
  <div class="add-content" data-type="add-content">
    <ul class="button">
      <li>+ ADD CONTENT</li>
      <ul class="options">
        <li data-action="add-rich-text">Rich Text</li>
        <li data-action="add-slideshow">Slideshow</li>
      </ul>
    </ul>
  </div>

  {% for content in area.content %}
    {{ content.type | aposContent(content) }}
  {% endfor %}
</div>