{% include 'contentMacros.html' %}

<div class="rich-text-area editable-area" data-object='{{ content | stringify | escape }}' data-type="content">

  {% include '_editorMarkup.html' %}

  <p class="text-area" data-name="rich-text-content" contenteditable="true">
    {% if content.content.text %}
      {{ content.content.text }}
    {% else %}
      This is a rich text area.
    {% endif %}
  </p>

  <div class="add-drawer">
    <div class="add" data-action="add-RichText">+ RichText</div>
    <div class="add" data-action="add-Slideshow">+ Slideshow</div>
  </div>

</div>