// the indicator color should be easily changed with one master color
@indicator: #e24610;
@indicator-dark: darken(@indicator, 10%);

.Montserrat(@font-size: 100%)
{
  font-family: 'Montserrat';
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

.add-content
{
  display: inline-block;
  position: relative;
  margin-bottom: 2em;
}

.button
{
  list-style-type: none;

  padding: 1em;
  background-color: white;
  border: 3px solid @indicator;
  .Montserrat;
  color: @indicator;
  cursor: default;

  .options
  {
    z-index: 9999;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;

    li
    {
      list-style-type: none;
      padding: 1em;
      background-color: @indicator;
      color: white;
      cursor: pointer;
      .transition(background-color @time);
      &:hover
      {
        background-color: @indicator-dark;
      }
    }
  }

  &:hover
  {
    .options
    {
      display: block;
    }
  }
}


.rich-text-area
{
  position: relative;
  &:hover
  {
    .edit
    {
      .edit-pane
      {
        opacity: 0.5;
      }
      .menu
      {
        opacity: 1;
      }
    }
    .add-drawer
    {
      height: 3em;
    }
  }
}

// .edit
// {
//   position: absolute;
//   top: 0; right: 0; bottom: 0; left: 0;
// }

.edit-pane
{
  background-color: @indicator;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  opacity: 0;
  .transition(opacity @time);
}

.menu
{
  position: absolute;
  top: 10px;
  right: 10px;
  text-align: right;
  opacity: 0;
  .transition(opacity @time);
}

.add-drawer
{
  z-index: 9998;
  height: 0em;
  overflow: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  .transition(height @time);

  background-color: @indicator;
  text-align: center;
}

.editable-area
{
  padding: 1em;
}

.add
{
  display: inline-block;
  margin-top: 0.25em;
  // margin-right: 5px;
  padding: 0.5em;
  .Montserrat;
  color: @indicator;
  background-color: white;
  cursor: pointer;
  .transition(background-color @time, color @time;);
  &:hover
  {
    background-color: #d4d4d4;
    color: @dark;
  }
}